@media screen and (max-width: 800px){
    .menu .ul_menu .signup{
        position: relative;
        top: -90px;
    }
    .menu .ul_menu #activities{
        border-bottom: 2px solid #8d8f91;
    }
    .menu .ul_menu #accomodation:defined{
        border-style: none;
        border-bottom: 2px solid #0065FC;
    }
    .search{
        padding-top: 20px;
    }
    .search .formGroup i{
        height: 65px;
        width: 65px;
        font-size: 26px;
    }
    .search .formGroup #findPlace{
        height: 61px;
        width: 258px;
    }
    .search .formGroup #btnSubmit{
        border-radius: 20px;
        width: 80px;
        height: 63px;
        position: relative;
        top: 1px;
        left: -20px;
    }
    .containerFilters p{
        margin-bottom: -10px;    
    }
    .top .containerFilters{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 300px;
    }
    .top .containerFilters .filters{
        position: relative;
        margin-top: 20px;
        
    }
    .top #romantic{
        position: absolute;
        margin-left: 50%;
        margin-top: 65px;
    }

    /*  ######## MID/side galery ######## */

    .container .mid{
        display: flex;
        flex-direction: column-reverse;
    }
    .mid  .sideGalery{
        width: 540px;
    }
    .mid .figureSide{
        width: 500px;
    }
    .mid .figureSide img{
        height: 210px;
        width: 220px;
    }
    .mid .figureSide #textCap{
        font-size: 22px;
    }
    /*  ######## MID/Galery ######## */
    .mid .galery{
        width: 540px;
        background-color: white;
    }
    .container .mid .row{
        display: flex;
        flex-direction: column;
    }
    .mid .row .figure{
        width: 400px;
        height: 350px;
        position: relative;
        margin-left: -20px;
        box-shadow: 2px 2px 2px #888888;

    }
    .galery .row img{
        width: 400px;
        border-radius: 30px;
        margin-left: -10px;
        margin-top: -10px;

    }
    /*################# Bottom Activies ######## */
    .bottom #bttTitles{
        padding: 0px 0 -20px 0;
    }
    .bottom, .tourism_galery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .tourism_galery .capsuleGalery{
        padding: 50px;
        width: 300px;
        height: 100%;
    }
    .tourism_galery #oldport img {
        width: 500px;
        height: 300px;
    }
    .tourism_galery #calaquesNational img{
        width: 500px;
        height: 300px;
    }

    /*########### footer #############*/
     
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .footer .columnFooter{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 500px;
        padding: 20px 0 0 0;
        font-size: 20px;

    }
}