* {
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  /* basic config */
.container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.top{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mid .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.bottom{
    display: flex;
    flex-direction: row;
}
.containerFilters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.column{
    display: flex;
    flex-direction: column;
}
.figureSide{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.figureSide #test{
    display: flex;
    flex-direction: column;
}
.tourism_galery{
    display: flex;
    flex-direction: row;
}
.bottom{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.columnFooter{
    display: flex;
    flex-direction: column;
}