@media screen and (max-width: 768px){
    /* tablet */
    .container .mid{
        display: flex;
        flex-direction: column-reverse;
    }
    .mid .sideGalery{
        width: 80%;
    }
    .mid .galery{
        width: 90%;
        margin-top: 5%;
    }
    .galery .figure{
        width: 90%;
    }
    .galery .figure img{
        width: 95%;
        height: 300px;
    }
    .bottom .tourism_galery{
        display: flex;
        flex-direction: column;
    }
    .capsuleGalery #oldport img, .capsuleGalery #calaquesNational img{
        width: 90%;
        height: 300px;
    }
    .capsuleGalery #pomeguesFort img, .capsuleGalery #frioulisland img{
        width: 90%;
        height: 300px;
    }
    .capsuleGalery #notreDame img, .capsuleGalery #longchampPark img{
        width: 90%;
        height: 300px;
    }
    .capsuleGalery .imgTitles{
        width: 90%;
    }
}
