
@media screen and (max-width: 768px){
    /* tablet */
    .top .containerFilters .filters{
        width: 130px;
        font-size: 13px;
    }
    .container .mid{
        display: flex;
        flex-direction: column-reverse;
    }
    .container .mid .sideGalery{
        max-width: 650px;
        width: 100%;

    }
    .mid .sideGalery .figureSide img{
        max-width: 400px;
        width: 100%;
        border-radius: 10% 0 0 10%;
    }
    .container .mid .galery{
        max-width: 720px;
        width: 100%;
        margin-top: 5%;
    }
    .galery .figure{
        max-width: 655px;
        width: 100%;
    }
    .galery .figure img{
        width: 100%;
        max-width: 630px;
        height: 100%;
        max-height: 250px;
    }
    .bottom .tourism_galery{
        display: block;
    }

    .capsuleGalery #oldport img, .capsuleGalery #calaquesNational img{
        max-width: 665px;
        width: 100%;
        max-height: 300px;
        height: 100%;
        margin-left: 4%;
    }
    .capsuleGalery #pomeguesFort img, .capsuleGalery #frioulisland img{
        max-width: 665px;
        width: 100%;
        max-height: 300px;
        height: 100%;
        margin-left: 4%;
    }
    .capsuleGalery #notreDame img, .capsuleGalery #longchampPark img{
        max-width: 665px;
        width: 100%;
        max-height: 300px;
        height: 100%;
        margin-left: 4%;
    }
    .capsuleGalery .imgTitles{
        max-width: 665px;
        width: 100%;
        margin-left: 4%;
    }
}

/* ############## MOBILE L ############## */

@media screen and (max-width: 425px){
    .ul_menu .signup{
        position: relative;
        bottom: 55px;
        left: 30px;
    }
    .top .ul_menu li a{
        padding: 20px 20px 0 0;
    }
    .top .ul_menu li a:hover{
        border-top: none;
        border-bottom: 2px solid blue;
    }
    .top .ul_menu #accomodation:defined{
        color:#0065FC;
        border-top: none; 
        border-bottom: 2px solid blue;
    }
    .top .containerFilters{
        display: flex;
        flex-direction: column;
    }
    .top .containerFilters .filters{
        max-width: 150px;
        width: 100%;
        margin-top: 3%;
    }
    .containerFilters #romantic{
        position: absolute;
        left: 230px;
        top: 423px;
    }
    .container .mid .sideGalery{
        max-width: 330px;
        width: 100%;
    }
    .mid .sideGalery .figureSide{
        width: 110%;
        max-width: 360px;
    }
    .mid .sideGalery .figureSide img{
        width: 100%;
        max-width: 340px;
        height: 100%;
        max-height: 150px;
        border-radius: 10% 10% 0 0;
    }
    .column .figureSide .textCap{
        text-align: left;
        margin-left: 10px;
        top: -10px;
    }
    .figureSide .stars{
        top: 0px;
    }
    .container .mid .galery{
        max-width: 400px;
        width: 100%;
    }
    .mid .galery .figure{
        max-width: 360px;
        width: 100%;
        margin-left: 5%;
    } 
    .galery .figure img{
        max-width: 340px;
        width: 100%;
        max-height: 200px;
        height: 100%;
    }
    .container .bottom .tourism_galery{
        max-width: 400px;
        width: 100%;
    }
    .bottom .tourism_galery .capsuleGalery{
        max-width: 370px;
        width: 100%;
    }
    .container .footer{
        display: flex;
        flex-direction: column;
        padding: 0 0 0 5%;

    }
}
/*###### PIXEL 2XL ########*/
@media screen and (max-width: 411px){
    .top .containerFilters .filters{
        max-width: 120px;
        width: 100%;
    }
    .container .mid .sideGalery {
        max-width: 310px;
        width: 100%;
    }
    .mid .sideGalery .figureSide img {
        width: 100%;
        max-width: 315px;
    }
}
@media screen and (max-width: 393px){
    .top .containerFilters #romantic {
        left: 210px;
        top: 450px;
    }
    .container .mid .sideGalery {
        max-width: 295px;
        width: 100%;
    }
    .mid .sideGalery .figureSide img {
        width: 100%;
        max-width: 305px;
    }
    .mid .galery .figure {
        max-width: 330px;
        width: 100%;
    }
    .galery .figure img {
        max-width: 310px;
        width: 100%;
    }
    .container .bottom .tourism_galery {
        max-width: 340px;
        width: 100%;
    }
}
/*########## Mobile M ########## */
@media screen and (max-width: 375px){
    .top .menu img{
        max-width: 100px;
        width: 100%;
        max-height: 50px;
        height: 100%;
    }
    .menu .ul_menu li a{
        font-size: 13px;
    }
    .top .containerFilters .filters{
        max-width: 120px;
        width: 100%;
    }
    .top .containerFilters .filters p{
        font-size: 15px;
    }
    .top .containerFilters #romantic{
        left: 190px;
    }    
    .container .mid .sideGalery{
        max-width: 280px;
        width: 100%;
    } 
    .mid .sideGalery .figureSide {
        max-width: 300px;
        width: 110%;
        margin-left: 2%;
    }
    .mid .sideGalery .figureSide img{
        max-width: 280px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        border-radius: 10% 10% 0 0;
    }
    .figureSide .stars{
        top: 0px;
    }
    .container .mid .galery{
        max-width: 350px;
        width: 100%;
    }
    .mid .galery .figure{
        max-width: 310px;
        width: 100%;
    }
    .galery .figure img{
        max-width: 290px;
        width: 100%;
        max-height: 150px;
        height: 100%;
    }
    .container .bottom .tourism_galery{
        max-width: 320px;
        width: 100%;
    }
}

/*########## Mobile S ########## */
@media screen and (max-width: 320px){
    .search .formGroup #btnSubmit{
        width: 50px;
        height: 50px;
        font-size: 10px;
    }
    .search .formGroup #findPlace{
        width: 170px;
        height: 45px;
    }
    .search .formGroup i{
        height: 50px;
    }
    .top .search #searchText{
        font-size: 17px;
    }
    .top .search #searchText2{  
        margin-bottom: 1%;
    }
    .top .containerFilters .filters{
        font-size: 12px;
    }
    .top .containerFilters #romantic{
        position: absolute;
        top: 365px;
        left: 200px;
        max-width: 85px;
        width: 100%;
    }
    .container .mid .sideGalery{
        max-width: 240px;
        width: 100%;
    } 
    .mid .sideGalery .figureSide img{
        max-width: 245px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        border-radius: 10% 10% 0 0;
    }
    .column .figureSide .textCap{
        text-align: left;
        margin-left: 10px;
        margin-top: -10px;
    }

    .container .mid .galery{
        max-width: 310px;
        width: 105%;
        margin-top: 5%;
    }
    .mid .galery .figure{
        max-width: 280px;
        width: 100%;
    }
    .galery .figure img{
        max-width: 260px;
        width: 100%;
        max-height: 150px;
        height: 100%;
    }
    .figureSide .stars{
        top: 0px;
    }
}