* {
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
.container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.top{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu{
    padding: 0 10px; 
    display: flex; 
    flex-wrap: wrap; 
    list-style: none; 
    justify-content: space-between;
}
.menu img{
    width: 191px; 
    height: 70px;
}
.ul_menu{
    display: flex; 
    flex-wrap: wrap; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    height: 70px;
}
.ul_menu li{
    list-style-type: none;
    padding: 0; 
    display: inline;;}
.ul_menu li a{
    text-decoration: none; 
    padding: 50px 20px 0; 
    display: block; 
    height: 60px;
    cursor: pointer; 
    color: black; 
    font-size: 18px;
}
.ul_menu li a:hover{
    color:#0065FC; 
    border-top: 2px solid blue;
}
.ul_menu .signup a{
    color: blue;
}
.ul_menu #accomodation:defined{
    color:#0065FC;
    border-top: 2px solid blue; 
}
/* #################################################### End of menu ############################ */

/* #################################################### TOP/Search Place######################## */
.containerFilters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.containerFilters .filters p{
    font-size: 18px;
    width: 100%;
    position: relative;
    top: -20px;
}
.formGroup{
    position: relative;
    display: flex;
    width: 100%;
}
.search #searchText{
    font-weight: 800;
    font-size: 22px;
}
.search #searchText2{
    font-size: 18px;
}
.search form i{
    background-color: lightgray;
    height: 55px;
    width: 55px;
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: 20px;
    position: relative;
}
.formGroup span{
    vertical-align: bottom;
    text-align: center;
    top: 16px;
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    position: relative;
    top: 20px;
}
#findPlace{
    white-space: nowrap;
    display: block;
    height: 50px;
    width: 258px;
    font-weight: 1000;
    font-size: 18px;
    padding-left: 15px;
}
#btnSubmit{
    border-radius: 0 20px 20px 0;
    width: 100px;
    height: 55px;
    font-weight: 1000;
    font-size: 16px;
    background-color: #0065FC;
    color: white;
    border: none;

    cursor: pointer;
}
#btnSubmit:hover{
    border-style: none;
}
#btnSubmit:active{
    border-style: none;
}
.containerFilters{
    padding: 30px 0 30px 0;
    width: 100%;
}
.filters{
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 18px;
    font-weight: 1000;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid grey;
    margin-right: 20px;
}
.filters span{
    padding: 0;
}
.filters i{
    position: relative;
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 18px;
    text-align: center;
}
.fa-money-bill-wave:before {
    content: "\f53a";
    position: relative;
    top: 12px;
}
.fa-child:before {
    content: "\f1ae";
    position: relative;
    top: 12px;
}
.fa-heart:before {
    content: "\f004";
    position: relative;
    top: 12px;
}
.fa-dog:before {
    content: "\f6d3";
    position: relative;
    top: 12px;
}
.containerFilters p{
    font-weight: 1000;
    font-size: 26px;
    padding: 0 30px 0 0;
    position: relative;
    top: -12px;
}
#total span{
    display: flex;
    flex-direction: row;
}
#total i{
    font-size: 20px;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #0065FC;
    top: 10px;
    position: relative;
}
#total p{
    font-weight: 400;
    font-size: 18px;
    margin-left: 5px;
}
.fa-info:before {
    content: "\f129";
    position: relative;
    top: 5px;
}
/* End of search Place */

/* ########################################### MID/Gallery ############################# */
.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mid .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.galery{
    background-color: #E8E8E8;
    height: 100%;
    width: 60%;
    border-radius: 50px;
}
#location{
    font-weight: 800;
    font-size: 18px;
    margin-left: 20px;
}
.figure{
    background-color: white;
    border-radius: 30px;
    margin-left: 2%;
    margin-top: 2%;
}
.figure .pName{
    font-weight: 800;
    font-size: 16px;
    padding: 0 0 0 20px;
}
.figure .pPrice{
    font-size: 16px;
    padding: 0 0 0 20px;
}
.one, .two, .three, .four, .five, .six{
    padding: 0 0 0 20px;
}
.row img{
    height: 200px;
    width: 300px;
    border-radius: 30px 30px 0 0;
    padding: 0 10px 10px 10px;
}
#showmore{
    font-weight: 800;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 50px;
}
.one #oneStars:nth-child(1), #oneStars:nth-child(2), #oneStars:nth-child(3), #oneStars:nth-child(4){
    color: blue;
}
.two #twoStars:nth-child(1), #twoStars:nth-child(2), #twoStars:nth-child(3), #twoStars:nth-child(4), #twoStars:nth-child(5){
    color: blue;
}
.three #threeStars:nth-child(1), #threeStars:nth-child(2), #threeStars:nth-child(3), #threeStars:nth-child(4){
    color: blue;
}
.four #fourStars:nth-child(1), #fourStars:nth-child(2), #fourStars:nth-child(3){
    color: blue;
}
.five #fiveStars:nth-child(1), #fiveStars:nth-child(2), #fiveStars:nth-child(3), #fiveStars:nth-child(4){
    color: blue;
}
.six #sixStars:nth-child(1), #sixStars:nth-child(2), #sixStars:nth-child(3), #sixStars:nth-child(4), #sixStars:nth-child(5){
    color: blue;
}

/* ######################################## MID/ Side Galery ############################################################*/
.column{
    display: flex;
    flex-direction: column;
}
.sideGalery{
    height: 100%;
    width: 30%;
    background-color: #E8E8E8;
    border-radius: 50px;
    padding: 20px 50px 0 20px;
}
.sideGalery #popular{
    font-weight: 800;
    font-size: 18px;
    margin-left: 5px;
}
.sideGalery .fa-chart-line{
    float: right;
    font-size: 20px;
}
.figureSide{
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 17px;
}
.figureSide img{
    height: 200px;
    width: 230px;
    border-radius: 30px 0 0 30px;
    padding: 0 20px 0 10px;
}
.figureSide #textCap{
    background-color: white;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 16px;
    height: 100%;
}
.stars{
    position: relative;
    top: 80px;
}
.sideOne #sideOne:nth-child(1), #sideOne:nth-child(2), #sideOne:nth-child(3), #sideOne:nth-child(4), #sideOne:nth-child(5){
    color: blue;
}
.sideTwo #sideTwo:nth-child(1), #sideTwo:nth-child(2), #sideTwo:nth-child(3), #sideTwo:nth-child(4){
    color: blue;
}
.sideThree #sideThree:nth-child(1), #sideThree:nth-child(2), #sideThree:nth-child(3), #sideThree:nth-child(4){
    color: blue;
}

/* ############### Botttom/Galery ##############*/


#bttTitles{
    font-weight: 800;
    font-size: 18px;
    padding: 30px 0 0px 15px;
}
.tourism_galery{
    display: flex;
    flex-direction: row;
}
.capsuleGalery{
    width: 100%;
    height: 100%;
}
#oldport img, #calaquesNational img{
    height: 500px;
    width: 350px;
    border-radius: 30px 30px 0 0;
    box-shadow: 2px 2px whitesmoke;
}
#pomeguesFort img, #frioulisland img, #notreDame img, #longchampPark img{
    height: 200px;
    width: 350px;
    border-radius: 30px 30px 0 0;
    box-shadow:2px 2px whitesmoke;
}
.imgTitles{
    width: 350px;
    height: 80px;
    background-color: white;
    position: relative;
    top: -25px;
    border-radius: 0 0 30px 30px;
    box-shadow: 2px 2px whitesmoke;

}
.imgTitles p{
    padding: 30px 0 0 20px;
    font-weight: 800;
    font-size: 18px;
}
/* ############################ FOOTER ####################*/

.footer{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.columnFooter{
    display: flex;
    flex-direction: column;
}
.columnFooter a{
    text-decoration: none;
    color: black;
}

